[Unit]
Description=decidim4cs service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=%h/%N
ExecStartPre=/bin/sleep 2
ExecStart=/usr/local/bin/docker-compose up -d --remove-orphans
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target
